<h1>New slide</h1>

<% form_for :slide, @slide, :url => slideshow_slides_path(@slideshow_id), :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :slideshow_id, :value => @slideshow_id %>
  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', slideshow_path(@slideshow_id) %>